.date-picker {
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;
    height: 24px;
}

.date-picker__button {
    background: transparent;
    border: none;
    padding: 0;
    height: 100%;
}

.date-picker__button_calendar {
    display: flex;
    align-items: center;
    gap: 8px;
}

.date-picker__text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #002CFB;
}

.date-picker__button:hover .date-picker__button_right {
    fill: #002CFB;
}

.date-picker__button:hover .date-picker__button_left {
    fill: #002CFB;
}

.date-picker__button:hover .date-picker__calendar {
    fill: #002CFB;
}