@import url(./vendor/normalize.css);
@import url(./vendor/fonts/SFPro.css);
@import url(./vendor/variables.css);
@import url(./vendor/root.css);

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

li {
  list-style-type: none;
}

button {
  cursor: pointer;
}

ul {
  padding: 0;
}

@import url(./components/SideBar/SideBar.css);
@import url(./components/Navigation/Navigation.css);